body {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overscroll-behavior: none;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: row;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 1.125rem;
	padding-left: 2rem;
}

.container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container li {
	margin-bottom: 0.875rem;
}

.container a {
	text-decoration: none;
	color: #ffffffe6;
	font-size: 0.9rem;
}

.icon_container li {
	display: inline;
}

.icon_container img {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.25rem;
	filter: brightness(0) invert(1);
}

.typing {
	display: flex;
	flex-direction: row;
	font-size: 1.875rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}
